@model WorkHub.Models.IndexViewModel
<script>
    function SubmitForm() {
        document.getElementById("layoutform").submit();
    }

    $(document).ready(function () {
        $("select").material_select(); // Load dropdown categories menu script
    });
</script>
<div>
    <div class="row">
        <div class="col s6">
            <div class="card white darken-1">
                <div class="card-content dark-text">
                    <span class="card-title">Account settings</span>
                </div>
                <div class="card-action">
                    @Html.ActionLink("Change your password", "ChangePassword")
                </div>
            </div>
        </div>

        <div class="col s6">
            <div class="card white darken-1">
                <div class="card-content dark-text">
                    <span class="card-title">Your jobs</span>
                    @if(ViewBag.UserJobs.Count == 0)
                    {
                        <p>You didn't post any jobs!</p>
                        <center><a class="waves-effect waves-light btn-large" href="~/WorkOrders/Create">Post a job</a></center>
                    }
                    else
                    {
                        <div class="collection">
                            @foreach (var job in ViewBag.UserJobs)
                            {
                                <a href="~/WorkOrders/Details/@job.Id" class="collection-item">@job.Description</a>
                            }
                        </div>
                    }           
            </div>
        </div>
    </div>
</div>
    @if (User.IsInRole("Admin"))
    {
        <text>
        <div class="row">
            <div class="col s6">
                <div class="card white darken-1">
                    <div class="card-content dark-text">
                        <span class="card-title">Admin Panel</span>
                        <p>Select page layout:</p>
                        <br/>
                        <form action="/Manage/ChangeLayout" name="layoutform" id="layoutform" method="post" runar="server">
                            <select id="layoutoptions" name="layoutoptions">
                                <option value="" disabled selected>Choose layout</option>
                                <option id="light" name="light" value="1">Light layout</option>
                                <option id="dark" name="dark" value="2">Dark layout</option>
                            </select>
                        </form>
                    </div>
                    <div class="card-action">
                        <a href="#" onclick="SubmitForm()">Submit Changes</a>
                    </div>
                </div>
            </div>
            </div>
            </text>
    }
</div>
