@model IEnumerable<WorkHub.Models.WorkOrder>

@{
    ViewBag.Title = "Index";
}

<center><h2>All work orders</h2></center>

<div class="collection">
    @foreach (var item in Model)
    {
        string collectionString = item.Description + " - " + item.Category.Type + ". Reward: " + item.Payment + "$";
        <a href="WorkOrders/Details/@item.Id" class="collection-item">@collectionString<i class="material-icons secondary-content">send</i></a>
    }
</div>