@model IEnumerable<WorkHub.Models.WorkOrder>

@{
    ViewBag.Title = "Index";
}

<div style="text-align: center;" ><h2>All work orders</h2></div>

<div class="collection">
    @if (User.IsInRole("Admin"))
    {
        <table>
            @foreach (var item in Model)
            {
                string collectionString = item.Description + " - " + item.Category.Type + ". Reward: " + item.Payment + "$";
                <tr>
                    <td><a href="WorkOrders/Details/@item.Id" class="collection-item">@collectionString<i class="material-icons secondary-content">send</i></a></td>
                    <td><a class="collection-item" href="WorkOrders/Delete/@item.Id">Delete Job<i class="material-icons secondary-content">delete</i></a></td>
                </tr>
            }
        </table>
    }
    else
    {
        foreach (var item in Model)
         {
             string collectionString = item.Description + " - " + item.Category.Type + ". Reward: " + item.Payment + "$";
             <a href="WorkOrders/Details/@item.Id" class="collection-item">@collectionString<i class="material-icons secondary-content">send</i></a>
         }
    }
</div>